body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 30px;
}

footer {
    background-color: #000; /* Black background */
    color: #fff; /* White text */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

footer-form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

input[type="text"], input[type="email"] {
    margin: 0 10px;
    padding: 10px;
    border: 1px solid #fff; /* White border */
    background-color: transparent;
    color: #fff; /* White text */
  }

  .subscribe-button {
    padding: 10px 20px;
    background-color: #fff; /* Example button color */
    border: none;
    color: #000; /* White text */
    cursor: pointer;
  }

  .social-icons {
    /* Placeholder styles for social icons */
  }

main {
    padding: 200px;
}

.search-container {
    max-width: 600px;
    margin: 20px auto;
    display: flex;
}

#search-box {
    flex-grow: 2;
    padding: 10px;
    font-size: 16px;
}

button {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #000;
}
